QVKeyboardClient.xcodeproj/project.xcworkspace/xcuserdata/
QVKeyboardClient.xcodeproj/xcuserdata/
QVKeyboardApp.xcodeproj/project.xcworkspace/xcuserdata/
QVKeyboardApp.xcodeproj/xcuserdata/
macos/QVKeyboardClient.xcodeproj/xcuserdata/
macos/QVKeyboardClient.xcworkspace/xcuserdata/
ios/QVKeyboardApp.xcworkspace/xcuserdata/
.vscode/
ios/proto/
macos/proto/

